<%= form_tag "/groups/#{@group.id}", method: :patch do %>
  <input type="text" name="name" value= <%= @group.name %> >
  <input type="submit" value="Change">
  <h2>Bio</h2>
  <textarea name="bio"><%= @group.bio %></textarea>
  <p>Categories</p>
<% @categories.each do |category| %>
  <%= category.name %>
  <input type="checkbox"
         name="group_categories[category_ids][]"
         value="<%= category.id %>"
         <%= "checked" if @group.categories.include?(category) %>
  >
<br>
<% end %>

<% end %>
