<h1>Group Directory</h1> 
<% @groups.each do |group|%>
  <div ng-app="app">
    <div ng-controller="groupsCtrl">
      <% if group.private? %>
        <% if group.users.include?(current_user) %>
        <div class="well">
          <h2><%= link_to group.name, "/groups/#{group.id}" %></h2>
          <p> <%= group.bio %></p>
            <h3>Members</h3>
          <p><% group.users.each do |user| %></p>
              <p><%= user.email %></p>
              <% end %>
              <h3>Categories</h3>
              <p><% group.categories.each do|category| %></p>
              <p><%= category.name %></p>         
        </div>
          <% end %>
        <% else %>
        <p>Cannot View Private Group</p>
        <% end %>
      <% else %>
        <h2><%= link_to group.name, "/groups/#{group.id}" %></h2>
          <p> <%= group.bio %></p>
            <h3>Members</h3>
          <p><% group.users.each do |user| %></p>
              <p><%= user.email %></p>
              <% end %>
              <h3>Categories</h3>
              <p><% group.categories.each do|category| %></p>
              <p><%= category.name %></p>
          <% end %>
      <% end %>
    </div>
  </div>
<% end %>