<h1><%= @group.name %></h1>
<% if current_user %>
  <%= form_tag "/group_member/#{@group.id}", method: :post do %>
  <input type="submit" value="Join">
  <% end %>
<% end %>
<p><button><%= link_to "Edit", "/groups/#{@group.id}/edit" %></button></p>
<br>
<p> <%= @group.bio %></p>
<h2>Category</h2>
<% @group.categories.each do |category| %>
<p><%= category.name %></p>
<% end %>

<br>

<h2>Members</h2>
<% @group.users.each do |user| %>
<p>First Name <%= user.first_name %></p>
<p>Last Name <%= user.last_name %></p>
<p>Email <%= user.email %></p>
<br>
<% end %>