

<h1><%= @group.name %></h1>
<% if current_user %>
  <%= form_tag "/group_member/#{@group.id}", method: :post do %>
  <input type="submit" value="Join">
  <% end %>
<% end %>
<% if @admin == true %>
<p><button><%= link_to "Edit", "/groups/#{@group.id}/edit" %></button></p>
<% end %>
<br>
<p> <%= @group.bio %></p>
<h2>Category</h2>
<% @group.categories.each do |category| %>
<p><%= category.name %></p>
<% end %>

<br>
<div>
  <h2>Members</h2>
  <% @group.users.each do |user| %>
    <% if user.photos.first %>
    <md-tooltip>
        <span class="profile-pic" data-toggle="tooltip"  data-original-title="Tooltip on bottom" alt="Profile Picture">
        <%= image_tag(user.photos.first.image.url) %>
        </span>
    </md-tooltip>
      <% else %>
        <span class="profile-pic" alt="Profile Picture">
        <%= image_tag(@photos.first.image.url) %>
        </span>
    <% end %>
  <% end %>
</div>