<h1>Appointments</h1>
<button><%= link_to "New Appointment", "/appointments/new" %></button>


<%= month_calendar do |date| %>
  
  <%= date.day %>
<% @appointments.each do |appointment|%>
  <% if appointment.formatted_date == date %>
    <a href="/appointments/<%= appointment.id %>"><div>
        <p>Title: <%= appointment.title %></p>
        <p>Location: <%= appointment.location.address%></p>
    <!--     <p><%= appointment.location.city%></p>
        <p><%= appointment.location.state%></p>
        <p><%= appointment.location.zip_code%></p> -->
        <p>Date: <%= appointment.date %></p>
        <p>Meeting Time: <%= "#{appointment.start_time} - #{appointment.end_time} "%></p>
      </div>
      </a>
  <% end %>
<% end %>

<br>
<% end %>