
<h1><%=@appointment.title %></h1>
<p><%= @appointment.date %></p>
<p><%= @appointment.start_time %></p>
<p><%= @appointment.end_time %></p>
<p><%= @appointment.location.address %></p>
<p><%= @appointment.location.city %></p>
<p><%= @appointment.location.state %></p>
<%= Geocoder.coordinates(@appointment.location.full_address) %>