<!DOCTYPE html>
<html>
  <head>
    <title>Rally</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="StartUp Admin Panel" />
    <meta name="keywords" content="Admin, Dashboard, Bootstrap3, Sass, transform, CSS3, HTML5, Web design, UI Design, Responsive Dashboard, Responsive Admin, Admin Template, Best Admin UI, Bootstrap Template, Wrap Bootstrap, Bootstrap" />
    <meta name="author" content="Bootstrap Gallery" />
    <link rel="shortcut icon" href="img/favicon.ico">
    <title>StartUp Admin Panel, StartUp Dashboard</title>
    
    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen" />

    <!-- Main CSS -->
    <link href="/css/main.css" rel="stylesheet" id="themeSwitcher" />

    <!-- Icomoon Icons CSS -->
    <link href="/fonts/icomoon/icomoon.css" rel="stylesheet" />

    <!-- Datepicker -->
    <link rel="stylesheet" href="/css/datepicker.css" />

    <!-- C3 CSS -->
    <link href="/css/c3/c3.css" rel="stylesheet" />

    <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-92537331-1', 'auto');
      ga('send', 'pageview');

    </script>
    <%= csrf_meta_tags %>


    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   

  </head>
  <% flash.each do |name, message| %>
  <div class="alert alert-<%= name %> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= message %>
  <% end %>
  </div>

  <body class="login">
      <header class="clearfix">
      <!-- Logo starts -->
      <div class="logo">
        <img src="/img/logo.png" alt="Logo" />
      </div>
      <!-- Logo ends -->

      <!-- Header actions starts -->
      <div class="pull-right">
        <ul id="header-actions" class="clearfix">
          <li class="list-box dropdown">
            <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
              <span class="info-label">7</span>
              <i class="icon-calendar2 info-icon text-success"></i>
            </a>
            <ul class="dropdown-menu imp-notify">
              <li>
                <div class="thumb">
                  
                </div>
                <div class="details">
                  <strong><%= current_user.appointments.first.title %></strong>
                  <p><%= current_user.appointments.first.location.address %></p>
                  <small class="date"><%= "#{current_user.appointments.first.date} #{current_user.appointments.first.start_time} #{current_user.appointments.first.end_time}"%></small>
                </div>
              </li>
              <li>
                <div class="thumb">
                  
                </div>
                <div class="details">
                  <strong><%= current_user.appointments.first.title %></strong>
                  <p><%= current_user.appointments.first.location.address %></p>
                  <small class="date"><%= "#{current_user.appointments.first.date} #{current_user.appointments.first.start_time} #{current_user.appointments.first.end_time}"%></small>
                </div>
              </li>
              <li>
                <div class="thumb">
                  
                </div>
                <div class="details">
                  <strong><%= current_user.appointments.first.title %></strong>
                  <p><%= current_user.appointments.first.location.address %></p>
                  <small class="date"><%= "#{current_user.appointments.first.date} #{current_user.appointments.first.start_time} #{current_user.appointments.first.end_time}"%></small>
                </div>
              </li>
            </ul>
          </li>
          <li class="list-box dropdown">
            <a id="drop10" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
              <span class="info-label">4</span>
              <i class="icon-paper-clip info-icon text-warning"></i>
            </a>
            <div class="dropdown-menu">
              <section class="todo">
                <fieldset class="todo-list">
                  <label class="todo-list-item">
                    <input type="checkbox" class="todo-list-cb">
                    <span class="todo-list-mark"></span>
                    <span class="todo-list-desc">Design Web App</span>
                    <small class="scheduled">Scheduled for 24th Dec, Assigned to Shawn.</small>
                  </label>
                  <label class="todo-list-item">
                    <input type="checkbox" class="todo-list-cb">
                    <span class="todo-list-mark"></span>
                    <span class="todo-list-desc">Send all Documents</span>
                    <small class="scheduled">Scheduled for 24th Dec, Assigned to Leena.</small>
                  </label>
                  <label class="todo-list-item">
                    <input type="checkbox" class="todo-list-cb">
                    <span class="todo-list-mark"></span>
                    <span class="todo-list-desc">Buy new Car</span>
                    <small class="scheduled">Scheduled on 10th Dec, Assigned to Mark.</small>
                  </label>
                  <label class="todo-list-item">
                    <input type="checkbox" class="todo-list-cb" checked>
                    <span class="todo-list-mark"></span>
                    <span class="todo-list-desc">Assign new Task</span>
                    <small class="scheduled">Completed on 5th Dec, Assigned to Robin.</small>
                  </label>
                  <label class="todo-list-item">
                    <input type="checkbox" class="todo-list-cb overdue" checked>
                    <span class="todo-list-mark"></span>
                    <span class="todo-list-desc">Read Turning Points</span>
                    <small class="scheduled">Overdue 12 days, Assigned to Wincy.</small>
                  </label>
                </fieldset>
              </section>
            </div>
          </li>
          <li class="list-box user-admin dropdown">
            <div class="admin-details">
              <div class="name">Anisha</div>
              <div class="designation">System Admin</div>
            </div>
            <a id="drop4" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
              <i class="icon-account_circle"></i>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-content">
                <a href="#"><i class="icon-warning2"></i>Update Password<br><span>Your password will expire in 7 days.</span></a>
                <a href="profile.html">Edit Profile</a>
                <a href="forgot-pwd.html">Change Password</a>
                <a href="profile.html">Settings</a>
                <a href="/login">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- Header actions ends -->

      <!-- Support/Feedback button starts -->
      <a href="faq.html" class="support">Faq's</a>
      <!-- Support/Feedback button ends -->
      
      <!-- Search starts -->
      <div class="custom-search">
        <input type="text" class="search-query" placeholder="Search here ...">
        <i class="icon-search4"></i>
      </div>
      <!-- Search ends -->
    </header>


      
  <div class="container-fluid">
    <% if request.original_fullpath != login_path %>
    <div class="left-sidebar">

        <!-- User wrapper starts -->
        <a href="profile.html" class="user-wrapper clearfix">
          <div class="user-avatar">
            <img src="/img/user2.png" alt="StartUp User">
          </div>
          <div class="profile-status">
            <p class="welcome">Welcome</p>
            <p class="name">Anisha Willams</p>
          </div>
        </a>
        <!-- User wrapper ends -->

        <div class="panel-group" id="leftSidebar" role="tablist" aria-multiselectable="true">
          <div class="panel">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#leftSidebar" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  Appointments <span class="label label-danger">5</span>
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <a href="/appointments"> My Appointments</a>
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#leftSidebar" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                  Groups <span class="label label-warning">35</span>
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
              <p><a href="/groups">Browse Groups</a></p>
              <p><a href="/mygroups">My Groups</a></p>
              <p><a href="/groups/new">Create New Group</a></p>
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-parent="#leftSidebar" href="/map" aria-expanded="false" aria-controls="collapseThree">
                  Map <span class="label label-success">10</span>
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <ul class="friends-list clearfix">
                  <li>
                    <img src="/img/user1.png" alt="user">
                  </li>
                  <li>
                    <img src="/img/user2.png" alt="user">
                  </li>
                  <li>
                    <img src="/img/user3.png" alt="user">
                  </li>
                  <li>
                    <img src="/img/user4.png" alt="user">
                  </li>
                  <li>
                    <img src="/img/user5.png" alt="user">
                  </li>
                  <li>
                    <img src="/img/user6.png" alt="user">
                  </li>
                  <li>
                    <img src="/img/user7.png" alt="user">
                  </li>
                  <li>
                    <img src="/img/user8.png" alt="user">
                  </li>
                  <li>
                    <img src="/img/user9.png" alt="user">
                  </li>
                  <li>
                    <img src="/img/user10.png" alt="user">
                  </li>
                  <li>
                    <img src="/img/user2.png" alt="user">
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
    <% end %>
    <div class="dashboard-wrapper">
        <div class="main-container">
          <div class="row-gutter">
              <%= yield %>   
          </div>
        </div>
    </div>
  </div>
<!--           <footer class="footer">
          Copyright StartUp Admin App <span>2017</span>.
        </footer> -->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="/js/jquery.js"></script>

  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/js/bootstrap.min.js"></script>

  <!-- jQuery UI -->
  <script src="/js/jquery-ui.min.js"></script>

  <!-- jquery ScrollUp JS -->
  <script src="/js/scrollup.min.js"></script>  

  <!-- Flot Charts -->
  <script src="/js/flot/jquery.flot.min.js"></script>
  <script src="/js/flot/jquery.flot.tooltip.min.js"></script>
  <script src="/js/flot/jquery.flot.time.min.js"></script>
  <script src="/js/flot/jquery.flot.resize.min.js"></script>
  <script src="/js/flot/custom/multi-bar-chart.js"></script>
  <script src="/js/flot/custom/profile-area.js"></script>

  <!-- JVector Map -->
  <script src="/js/jvectormap/jquery-jvectormap-2.0.3.min.js"></script>
  <script src="/js/jvectormap/gdp-data.js"></script>
  <script src="/js/jvectormap/usa.js"></script>
  <script src="/js/jvectormap/custom/usa-profile.js"></script>

  <!-- D3 JS -->
  <script src="/js/d3.min.js"></script>

  <!-- C3 Graphs -->
  <script src="/js/c3/c3.min.js"></script>
  <script src="/js/c3/c3.custom.js"></script>

  <!-- Theme Switcher -->
  <script src="/js/themeSwitcher.js"></script>

  <!-- Common JS -->
  <script src="/js/common.js"></script>

  <script type="/text/javascript">
    //Datepicker
    $(function() {
      $("#datepicker").datepicker();
    });
  </script>
  </body>
</html>
